.poke-root {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;

    .poke-header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }
}
